.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .credits {
    text-align: center;
    font-size: 2em;
    font-weight: bold;
    font-family: 'Arial', sans-serif;
  }
  
  ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
  
  li {
    font-size: 20px;
    margin-bottom: 10px;
    animation: rainbow 5s ease-in-out infinite;
  }
  
  /* Animation for the rainbow effect */
  @keyframes rainbow {
    0% {
      color: red;
    }
    20% {
      color: orange;
    }
    40% {
      color: yellow;
    }
    60% {
      color: green;
    }
    80% {
      color: blue;
    }
    100% {
      color: purple;
    }
  }
  